In [1]:
# create a Pandas Series with the given data and print it

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
# #Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# #
# A DataFrame in Pandas is a 2-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.) in a tabular form. It consists of rows and columns and is similar to a table in a relational database or a spreadsheet.

# The main difference between a DataFrame and a Series is that a Series is a 1-dimensional labeled array, while a DataFrame is a 2-dimensional labeled data structure with potentially multiple columns.


import pandas as pd

# Create a Series
series = pd.Series([10, 20, 30, 40, 50], name='Numbers')

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 30, 28]}
df = pd.DataFrame(data)

print(series)
print(df)

0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64
    Name  Age
0   John   25
1   Emma   30
2  Peter   28

 
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
 you give an example of when you might use one of these functions?

Pandas provides various functions to manipulate data in a DataFrame. Some common functions include:

head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Generates descriptive statistics of the DataFrame.
sort_values(): Sorts the DataFrame by one or more columns.
groupby(): Groups the DataFrame by one or more columns and performs aggregate operations.
dropna(): Drops rows or columns with missing values.
fillna(): Fills missing values in the DataFrame with a specified value or method.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, only the Series object is mutable in nature. Both DataFrame and Panel objects are immutable, meaning their values cannot be changed once created.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd

# Create Series
name_series = pd.Series(['John', 'Emma', 'Peter'])
age_series = pd.Series([25, 30, 28])

# Create DataFrame using Series
data = {'Name': name_series, 'Age': age_series}
df = pd.DataFrame(data)

print(df)

    Name  Age
0   John   25
1   Emma   30
2  Peter   28